/*/* NAVBAR STYLING */

/* group of page links */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
}

/* singular link to page */
nav li {
    float: left;
    justify-content: right;
    align-self: baseline;
}

/* link to page when clicked */
nav li a:focus {
    text-decoration: underline;
    font-weight: bold;
}

/* page link text */
li a {
    font-family: "Poppins", sans-serif;
    display: block;
    color: white;
    text-align: center;
    padding: 30px 30px 0rem 0rem;
    text-decoration: none;
    align-items: right;
    padding-right: 3rem;
}

/* group of all navbar elements */
nav {
    background-color: #1371A5;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

/* logo in navbar */
nav img {
    padding: 1rem 1rem;
    max-height: 90px;
}

/* website name next to logo */
.group-name {
    font-family: "Poppins", sans-serif;
    color: white;
    text-decoration: none;
    padding-left: 0rem;
    font-weight: bold;
}

/* group with logo and website name */
.logo {
    display: flex;
    align-items: center;
}

/* hamburger menu visibility for desktop screens */
@media (min-width: 702px) {
    .hamburger-selection {
        display: none;
    }

    .nav-links {
        display: block;
        flex-direction: column;
    }
}

/* hamburger menu visibility/styling for mobile screens */
@media (max-width: 702px) {
    .material-symbols-outlined {
        background-color: #1371A5;
        color: white;
        font-size: 3rem;
        position: absolute;
        top: 30px;
        right: 20px;
    }

    .menuNav {
        display: flex;
        flex-direction: column;
    }

    .showMenu {
        padding: 5rem;
    }

    .nav-links {
        display: none;
    }

    nav {
        flex-direction: column;
    }
}

/* HOMEPAGE STYLING */

/* text describing the goal of our website */
.homepage-description {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: x-large;
}

/* container holding the website objective title and description */
.about-container {
    text-align: center;
    padding-top: 9rem;
    padding-bottom: 5rem;
}

/* the container of all elements on the homepage */
.homepage {
    font-family: "Poppins", sans-serif;
}

/* the title at the top of the homepage for our values for the website */
.homepage-title {
    font-size: xx-large;
    padding-bottom: 0rem;
}

.about-container img {
    max-width: 200px;
}

/* header for favorite books section */
.fav-books-title {
    padding-top: 2rem;
    font-size: xx-large;
    padding-bottom: 1rem;
}

/* container of all elements in the favorite books section */
.our-fav-books {
    text-align: center;
    background-color: #DAF2E9;
    margin: 1rem;
    border-radius: 30px;
}

/* button styling */
.btn-dark {
    background-color: #FDBA45;
    color: white;
    border-radius: 20px;
    padding: 0.7rem 6rem 0.7rem 6rem;
    text-decoration: none;
    font-weight: 650;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

/* spacing around the button */
.keep-browsing-btn {
    padding-top: 1rem;
    padding-bottom: 3rem;
    width: 100%;
    text-align: center;
}

/* styling for book cover images */
.book-cover {
    max-width: 184px;
    height: 249px;
    align-self: center;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    padding: 1rem;
    background-color: #F26250;
}

/* styling for only ONE BOOK, inside a container of books */
.fav-book {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-bottom: 1rem;
}

/* container holding all books in the favorite books section */
.fav-books-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 1rem;
    margin-right: 1rem;
}

/* styling for text describing the corresponding book */
.fav-book-desc {
    max-width: 184px;
    height: 249px;
    padding: 1rem;
    background-color: white;
    align-self: center;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

/* shrinking the book and description sizes in favorite books section for smaller screens */
@media (max-width: 425px) {
    .fav-book-desc {
        max-width: 102px;
        max-height: 134.5px;
        padding: 1rem;
        flex-shrink: 3;
    }

    .book-cover {
        max-width: 102px;
        max-height: 134.5px;
    }

    .fav-book-desc p {
        display: none;
    }
}

/* Single Book Page Styling */
.download {
    padding: 30px;
    width: fit-content;
    padding-top: 2rem;
    margin: 0 auto;
}

.go-back {
    padding: 30px;
    padding-top: 2rem;
    text-align: left;
}

.instruction-list {
    margin: 0 auto;
    text-align: center;
    background-color: #DAF2E9;
    padding-bottom: 20px;
}

.instruction-list h2 {
    padding-top: 20px;
}

.fav-single-book {
    display: flex;
}

.one-book {
    display: flex;
}

.one-book p {
    padding-left: 30px;
}

.one-book h1 {
    padding-left: 30px;
}

.description-book {
    text-align: left;
}

.single-book-cover {
    max-width: 40%;
    height: auto;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    padding: 1rem;
    background-color: #F26250;
}

.single-book {
    align-items: center;
}

.download-instructions {
    text-align: center;
}

/* Book Page Styling */
.books-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

/* the container of all elements on the bookpage */
.bookpage {
    font-family: "Poppins", sans-serif;
    padding-top: 5rem;
}

/* Background image + header */
.books-title {
    text-align: center;
    color: rgb(255, 255, 255);
    background-image: url('/public/img/library.jpg');
    background-size: cover;
    background-position: top right;
    grid-column: 1 / -1;
    padding: 3rem;
    text-shadow: 2px 2px 2px black;
    -webkit-text-stroke-width: 0.6px;
    -webkit-text-stroke-color: black;
    max-height: 14rem;
    margin-top: 0.5rem;
}

h1.books-title {
    padding-top: 3rem;
    color: white;
    font-size: xx-large;
    font-weight: bold;
}

/* Background image + header */
.events-title {
    text-align: center;
    color: rgb(255, 255, 255);
    background-image: url('/public/img/books-bg.png');
    background-size: cover;
    background-position: top right;
    padding: 3rem;
    grid-column: 1 / -1;
    text-shadow: 2px 2px 2px black;
    -webkit-text-stroke-width: 0.6px;
    -webkit-text-stroke-color: black;
    max-height: 14rem;
}

.events-title h1 {
    padding-top: 4rem;
    color: white;
    font-size: xx-large;
    font-weight: bold;
}

.eventpage {
    font-family: "Poppins", sans-serif;
}

/* Genre selector */
#genreFilter {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
}

/* Book outline and formatting */
.book {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
}

/* Style the selected option differently */
#genreFilter option:checked {
    font-weight: bold;
    color: #333;
}

/* Spacing between the label and select */
.genre-filter {
    margin-right: 10px;
    margin-top: 5px;
}

/* Green background color */
.filter-container {
    display: flex;
    background-color: #DAF2E9;
    padding: 10px;
    margin: 15px;
    border-radius: 10px;
    width: fit-content;
}

/* section holding local book event details */
.local-events {
    text-align: center;
    background-color: #DAF2E9;
    margin: 1rem;
    border-radius: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 4rem;
    padding-top: 1rem;
}

/* a container of the title and short description of the local event section */
.event-section-labels {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* title/label for the local events section */
.local-events-title {
    font-size: xx-large;
    padding-top: 1rem;
}

/* short summary of what the local event section is */
.local-event-desc {
    font-size: x-large;
}

/* a container within the section holding details of a specific event */
.preview-event {
    margin: 1rem;
    margin-top: 2rem;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

/* description of a specific local event including title */
.event-desc-preview {
    text-align: left;
    padding: 1rem;
}

/* description of a specific local event not including title */
.event-desc-preview p {
    text-align: left;
    margin-right: 1rem;
}

/* image for a specific event */
.event-cover img {
    max-width: 230px;
    padding: 1rem;
}

/* resizing various homepage elements for smaller screens */
@media (max-width: 702px) {
    .btn-dark {
        padding: 0.7rem 4rem 0.7rem 4rem;
    }

    .event-cover img {
        max-width: 180px;
        padding: 1rem;
    }

    .fav-book-desc a {
        font-size: small;
    }

    .fav-book-desc h3 {
        font-size: small;
    }

    .homepage-title {
        font-size: x-large;
    }

    .homepage-description {
        font-size: medium;
    }
}

/* resizing the website objective summary and other homepage elements for larger screens (1024px) */
@media (min-width: 1024px) {
    .about-container {
        width: fill;
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .homepage-description {
        width: 630px;
    }

    .local-event-desc {
        width: 430px;
    }

    .event-section-labels {
        align-self: center;
        width: 430px;
    }

    .local-events {
        align-items: left;
    }
}

/* resizing the website objective summary and other homepage elements for larger screens (1533px) */
@media (min-width: 1533px) {
    .about-container {
        width: fill;
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .homepage-description {
        width: 630px;
    }

    .local-event-desc {
        width: 430px;
    }

    .event-section-labels {
        align-self: center;
    }

    .local-events {
        margin-left: 5rem;
        margin-right: 5rem;
    }

    .our-fav-books {
        margin-left: 5rem;
        margin-right: 5rem;
    }
}

/* resizing the website objective summary for medium sized screens (768px) */
@media (max-width: 768px) {
    .about-container {
        width: fill;
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .homepage-description {
        width: 430px;
    }

    .local-event-desc {
        width: 430px;
    }
}

/* resizing the website objective summary for smaller screens (320px) */
@media (max-width: 320px) {
    .preview-event {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .event-desc-preview p {
        text-align: center;
        padding-left: 1rem;
    }
}

/* resizing the website objective summary for smaller screens (425px) */
@media (max-width: 425px) {
    .homepage-description {
        width: 230px;
    }

    .preview-event {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    .event-desc-preview {
        text-align: center;
        padding: 1rem;
    }

    .local-event-desc {
        font-size: medium;
        padding-left: 1rem;
        padding-right: 1rem;
        width: 190px;
    }
}

/* FOOTER STYLING */
.foot p {
    text-align: center;
    background-color: #1371A5;
    font-family: "Poppins", sans-serif;
    color: white;
    padding: 2rem;
}

/* Map and Library Details Styling */
body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.map-page {
    display: flex;
    height: 100vh;
    overflow: hidden;
  }
  
  #map {
    height: 180%; 
    margin-top: 5rem;
    flex: 1; /* Allow the map to take up remaining space */
  }

  .library-details {
    width: 90%; /* Make it responsive on smaller screens */
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute; /* Position it absolutely */
    top: 100px; /* Adjust the top position based on the navbar height */
    left: 50%;
    transform: translateX(-50%); /* Center it horizontally */
    z-index: 1000;
  }

  .library-details li {
    list-style-type: none;
  }
  
  @media (min-width: 768px) {
    .library-details {
      width: 30%; /* Use a fixed width on larger screens */
      left: auto; /* Reset the left position */
      transform: none; /* Remove the horizontal centering */
      right: 20px; /* Position it on the right side */
    }
  }

  .map.shift-left {
    width: 70%; /* Reduce the map width to 70% when the library details panel is open */
  }

.library-details.shift-right {
    width: 30%;
}

.library-details h2 {
    color: #1371A5;
}

.library-details a {
    color: #1371A5;
    text-decoration: underline;
}

.library-details .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #FDBA45;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.leaflet-top.leaflet-right {
    top: 100px;
    right: 50px;
    position: relative;
}

.space {
    height: 90px;
}

.map-space {
    height: 1000px;

}